@import 'tailwindcss';

@theme {
  --color-primary: #3b82f6;
  --color-primary-hover: #2563eb;
  --color-grid-line: #cbd5e1;
  --color-grid-sym-line: #c43434;
}

body {
  @apply bg-slate-50 text-slate-800 antialiased;
}
